@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* shared styles  */
:root{
    --dark-gray: #3c354f;
    --primary-black: #0b0223;
    --primary-white: #fff;
    --primary-color: #ff42a5;
    --gradiant-color: linear-gradient(to bottom, #f948b2, #8758f1);
}
/* shared styles ends */
.gradiant{
    background-image: linear-gradient(to bottom, #f948b2, #8758f1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-primary{
    padding: .9rem 1.8rem;
    border: none;
    outline: none;
    border-radius: 30px;
    color: var(--primary-white);
    font-size: 1.125rem;
    font-weight: 500;
    background-color: #ff42a5;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s ease;
}

/* navbar styles start  */
nav{
    width: 100%;
    height: 12vh;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--primary-white);
}

.nav-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: .8rem;
}
.nav-logo img{
    width: 70px;
}
.nav-logo .logo-text{
    font-size: 2.5rem;
}
.nav-logo .logo-text span{
    color: #ff42a5 ;
}

.nav-links ul{
    display: flex;
    align-items: center;
    gap: 1.8rem;
}
.nav-links ul li a{
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--dark-gray);
    cursor: pointer;
    position: relative;
}
.nav-links ul li a::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--dark-gray);
    position: absolute;
    bottom: -10px;
    transform: scale(0.0);
    transform-origin: right;
    transition: transform .5s ease-in-out;
}
.nav-links ul li a:hover::after{
    transform: scale(1);
    transform-origin: left;
    border-radius: 5px;
}

.nav-links-expanded{
    padding: .9rem 1.5rem;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.1);
}
.nav-links-expanded a{
    color: var(--dark-gray);
    font-size: 1rem;
    font-weight: 500;
}
.nav-links-expanded .fa-brands{
    margin-left: 1.15rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: transform .4s ease;
}
.nav-links-expanded .fa-brands:hover{
    transform: scale(1.2);
}
/* navbar styles ends */



/* banner styles start  */
.banner-section{ 
    width: 100%;
    background-image: url(../images/Group\ 14.svg);
    background-repeat: no-repeat;
    background-position: left;
}
.banner-container{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: calc(100vh - 12vh - 20vh);
}
.banner-motto-1{
    font-size: 3rem;
    color: var(--primary-black);
    text-transform: uppercase;
}
.banner-motto-2{
    font-size: 5rem;
    margin-bottom: 1.5rem;
}
.banner-info p{
    font-size: 1.125rem;
    color: var(--dark-gray);
    font-weight: 500;
    margin-bottom: 1rem;
    cursor: pointer;
}
.banner-info .fa-play{
    border: 1px solid var(--dark-gray);
    /* padding: 4px 5px; */
    border-radius: 50px;
    width: 22px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: .7rem;
}
.banner-info i{
    vertical-align: middle;
    margin-right: .8rem;
    color: #ff42a5;
    font-size: 1.125rem;
}
.banner-info p img{
    width: 1.125rem;
    margin-right: .7rem;
}
.banner-btn{
    margin-top: 2.3rem;
}
.banner-btn-2{
    padding: .9rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 30px;
    color: var(--primary-white);
    font-size: 1.125rem;
    font-weight: 500;
    background-color: #4ec5f7;
    text-transform: uppercase;
    margin-left: 1.25rem;
    transition: 1s ease-in-out;
    cursor: pointer;
}

.btn-primary:hover, .banner-btn-2:hover{
    background-image: var(--gradiant-color);
}
.banner-img{
    text-align: right!important;
}
.banner-img img{
    width: 87%;
}
/* banner styles ends  */


/* we are gamer styles start */
.we-are-gamer-section{
    width: 100%;
    background-color: #fff9fc;
    height: 50vh;
}
.we-are-gamer-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.we-are-gamer-img{
    width: 50%;
}
.we-are-gamer-img img{
    width: 100%;
}
.we-are-gamer-content{
    text-align: right;
    width: 50%;
    margin-right: 1%;
    max-width: 500px;
}
.we-are-gamer-title{
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}
.we-are-gamer-desc{
    font-size: 1.125rem;
    color: var(--dark-gray);
    margin-bottom: 2rem;
}
.our-p{
    margin-top: 1.25rem;
    margin-bottom: 10px;
}
.we-are-gamer-text-4{
    font-size: 1.25rem;
    color: var(--dark-gray);
    font-weight: 600;
}
/* we are gamer styles ends */


 /* Online games style start  */
.online-games-container{
    width: 70%;
    margin: 0 auto;
}
.online-games-title{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 1rem;
    color: var(--primary-black);
}
.online-games-desc{
    font-size: 1.125rem;
    color: var(--dark-gray);
    margin-bottom: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
}
.online-games-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}
.online-games-card-container .card-img{
    position: relative;
    border-radius: 15px;
}
.online-games-card-container .card-img img{
    width: 100%;
}
.online-games-card-container .card-img .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: .5s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 1rem; 
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
}
.online-games-card-container .card-img:hover .img-overlay{
    opacity: 1;
}

.card-img .img-overlay .fa-solid{
    font-size: 2rem;
    color: var(--primary-white);
}

.card-img .img-overlay .hover-effect-text{
    font-weight: 600;
    font-size: 1.25rem;
    color: var(--primary-color);
}

.card-content .card-text{
    font-size: 1.125rem;
    color: var(--dark-gray);
    margin-top: 1.25rem;
}
 /* Online games style ends */


 /* play instantly styles  */
.play-instantly-container, .play-games-container{
    width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 100px;
}
.play-instantly-content{
    width: 350px;
    margin: 0 auto;
    text-align: center;
}
.play-instantly-img, .play-games-img{
    position: relative;
    padding-right: 1%;
    text-align: right;
}
.play-instantly-img .img-1 img, .play-games-img .img-1 img{
    width: 80%;
    height: 100%;
    cursor: pointer;
}
.play-instantly-img .img-2{
    position: absolute;
    bottom: -80px;
    max-width: 250px;
    max-height: 300px;
}
.play-instantly-img .img-2 img, .play-games-img .img-2 img{
    width: 100%;
    cursor: pointer;
}
.play-instantly-title{
    font-size: 2.5rem;
    color: var(--primary-black);
    margin-bottom: 1.25rem;
}
.play-instantly-desc{
    color: var(--dark-gray);
    font-size: 1.125rem;
}
/* play games styeles  */
.play-games-container{
    height: 80vh;
}
.play-games-container{
    margin-top: 80px;
}
.play-games-img .img-2{
    position: absolute;
    bottom: -80px;
    right: -110px;
    max-width: 250px;
    max-height: 300px;
}
/* play instantly styles ends  */


/* careers section styles start  */
.careers-section{
    width: 100%;
    background-color: var(--primary-color);
}
.careers-container{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-white);
}
.careers-content{
    padding-right: 1%;
}
.careers-text h4{
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}
.careers-text p{
    font-size: 1.125rem;
    margin-bottom: 2rem;
}

.open-position li a, .location li a{
    color: var(--primary-white);
    text-decoration: none;
    font-size: 1.25rem;
    margin-bottom: .6rem;
    display: block;
    font-weight: 500;
    cursor: pointer;
    transition: transform .4s ease;
}
.open-position li a:hover, .location li a:hover{
    transform: translateX(10px);
}
.careers-location{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.location{
    text-align: right;
}
.careers-img img{
    width: 100%;
    cursor: pointer;
}
/* careers section styles ends */


/* games option section styles start */
.games-container{
    width: 65%;
    margin: 0 auto;
    height: 40vh;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: center;
    justify-content: center;
    row-gap: 1.5rem; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 2rem;
}

.games-card{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
    border: 2px solid transparent;
    padding: 8px 15px;
    border-radius: 40px;
    transition: all .4s ease;
}
.games-card:hover{
    border: 2px solid var(--primary-color);
    padding: 8px 15px;
    border-radius: 40px;
}
.games-card:hover .games-card-title{
    color: var(--primary-color);
}
.games-card-img{
    width: 40px;
}
.games-card-title{
    font-weight: 600;
    color: var(--primary-black);
}

/* games option section styles ends */
